.grid {
    display:inline-grid;
    width:500px;
    height:500px;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
    border:1px solid black;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items:center;
}